<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef> اسم المادة </th>
        <td mat-cell *matCellDef="let element"> {{element.courseName}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="courseNumber">
        <th mat-header-cell *matHeaderCellDef> رقم المادة </th>
        <td mat-cell *matCellDef="let element">{{element.courseNumber}}</td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="firstMark">
        <th mat-header-cell *matHeaderCellDef> العلامة الأولى </th>
        <td mat-cell *matCellDef="let element"> {{element.firstMark}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="secondMark">
        <th mat-header-cell *matHeaderCellDef> العلامة الثانية </th>
        <td mat-cell *matCellDef="let element"> {{element.secondMark}} </td>
      </ng-container>

      <ng-container matColumnDef="other">
        <th mat-header-cell *matHeaderCellDef> أخرى </th>
        <td mat-cell *matCellDef="let element"> {{element.other}} </td>
      </ng-container>
  
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> المجموع </th>
        <td mat-cell *matCellDef="let element"> {{element.total}}</td>
      </ng-container>
  
      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef> الترتيب </th>
        <td mat-cell *matCellDef="let element"> {{element.order}}</td>
      </ng-container>
  
      <ng-container matColumnDef="markAvg">
        <th mat-header-cell *matHeaderCellDef> معدل العلامة </th>
        <td mat-cell *matCellDef="let element"> {{element.markAvg}} </td>
      </ng-container>
  
      <ng-container matColumnDef="markStatus">
        <th mat-header-cell *matHeaderCellDef> حالة العلامة  </th>
        <td mat-cell *matCellDef="let element"> {{element.markStatus}} </td>
      </ng-container>
  
      <ng-container matColumnDef="hours">
        <th mat-header-cell *matHeaderCellDef> الساعات  </th>
        <td mat-cell *matCellDef="let element"> {{element.hours}}  </td>
      </ng-container>
  
      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef> الرمز </th>
        <td mat-cell *matCellDef="let element"> {{element.grade}}  </td>
      </ng-container>
  
      <ng-container matColumnDef="courseStatus">
        <th mat-header-cell *matHeaderCellDef> حالة المادة </th>
        <td mat-cell *matCellDef="let element"> {{element.courseStatus}}  </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  