.container{
    width: 100%;
    display: flex;
    background-color: #0D71A4;
    align-items: center;
    justify-content: space-between;
}
.teacher-name,.logout-btn{
    padding: 0px 15px;
    background-color: #0D71A4;
}

mat-toolbar {
  background-color: #0D71A4;
  color: aliceblue;
  font-size: larger;
}
