<div>
    <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8" >
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="courseNumber">
        <th mat-header-cell *matHeaderCellDef> رقم المادة </th>
        <td mat-cell *matCellDef="let element"> {{element.courseNumber}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef> اسم المادة </th>
        <td mat-cell *matCellDef="let element">{{element.courseName}}</td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="examDate">
        <th mat-header-cell *matHeaderCellDef> تاريخ الإمتحان </th>
        <td mat-cell *matCellDef="let element"> {{element.examDate}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef> من  </th>
        <td mat-cell *matCellDef="let element"> {{element.from}} </td>
      </ng-container>

      <ng-container matColumnDef="to">
        <th mat-header-cell *matHeaderCellDef> إلى </th>
        <td mat-cell *matCellDef="let element"> {{element.to}} </td>
      </ng-container>

      <ng-container matColumnDef="examNumber">
        <th mat-header-cell *matHeaderCellDef> رقم الإمتحان </th>
        <td mat-cell *matCellDef="let element"> {{element.examNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef> ابدأ الامتحان </th>
        <td mat-cell *matCellDef="let element"> 
          <a class="option createE" [routerLink]="['/exam-view']" >
            <span>ابدأ</span>
            <i class="fas fa-file-alt"></i>
        </a>  
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  