<div class="container">
    <div class="exam-info">
        <span>
            <strong>
                امتحان الرياضيات
            </strong>
        </span>
        <span>
            مدة الامتحان: 11:30 - 12:30
        </span>
        <span>
            عدد الأسئلة: 20
        </span>
    </div>
        <div class="questions">
            <div class="question" *ngFor="let q of pages[currentPage].Questions;let i =index">
                <div class="q-and-num">
                    <span [ngClass]="{'answered': q.studentAnswer != ''}">{{q.num}}</span>
                <label id="example-radio-group-label">{{q.label}}</label>
                </div>
                <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                [(ngModel)]="q.studentAnswer"
                >
                <mat-radio-button  class="example-radio-button" *ngFor="let a of q.answers" [value]="a">
                    {{a}}
                </mat-radio-button>
                </mat-radio-group>    

            </div>
        </div>
        <div class="warn-messages" *ngIf="nextQuestionCheck() || everythingIsAnswerd()">
            <span *ngIf="currentPage != numOfPages-1" class="warn">Answer all Questions Before going to next page</span>
            <span *ngIf="currentPage == numOfPages-1" class="warn">All Questions must be answerd to finish the exam</span>
        </div>
        <span class="page">{{currentPage + 1 }}</span>
        <div class="actions">
            <button mat-raised-button *ngIf="returnBack" [disabled]="currentPage==0" (click)="prevQuestion()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back_ios</mat-icon>
            </button>
            <button mat-raised-button *ngIf="!isLastPage" [disabled]="nextQuestionCheck()" (click)="nextQuestion()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_forward_ios</mat-icon>
            </button>
            <button mat-raised-button color="primary" *ngIf="isLastPage" [disabled]="everythingIsAnswerd()" (click)="submitData()">حفظ و انهاء</button>
        </div>
</div>
