.container{
    display: grid;
    place-items: center;
    text-align: right;
    background-color: #f7f3e9;
    transition: all .3s;
}

.exam-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17px 10px;
    font-family: sans-serif;
    width: 30%;
    background-color: snow;
    border-radius: 9px;
    margin: 12px;
    box-shadow: 2px 4px 6px #999;
    transition: all .3s;
}

.exam-info strong{
    font-size: 24px;
    color: #345;
}

.exam-info span{
    font-size: 18px;
    color: #123;
}

.questions{
    width: 95%;
    border-radius: 4px;
    box-shadow: 2px 3px 4px #999;
    margin: 10px 0px;
    background-color: #a3d2ca;
}

.q-and-num{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    font-size: 20px;
    border-bottom: 2px solid #ccc;
}

.q-and-num span{
    border-radius: 5px;;
    padding: 3px 8px;
    color: rgb(70, 69, 69);
    box-shadow: 2px 4px 6px grey;
    transition: all .3s;
}

.answered{
    background-color: #f05945;
    color: snow !important;
}

.q-and-num label{
    font-weight: bold;
    font-size: 22px;
    color: #444;
    margin: 3px;
    border-radius: 4px;
}



.question{
    background-color: rgba(255, 250, 250, .69);
    margin: 14px;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 2px 4px 4px #aaa;
    transition: all .3s;
}

.question:hover{
    background-color: rgba(255, 250, 250, .88);
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 15px 0 !important;
  }
  
  .example-radio-button {
    margin: 5px !important;
  }

::ng-deep .mat-radio-label{
        flex-direction: row-reverse;
    }
::ng-deep .mat-radio-container{
    margin-left: 15px;
    margin-bottom: 4px;
}

.warn-messages,.page{
    color: snow;
    font-weight: bold;
    background-color: red;
    padding: 6px;
    margin: 15px 0px;
    box-shadow: 1px 3px 6px brown ;
    font-size: large;
    border-radius: 4px;
}

.page{
    background-color: darkcyan;
    box-shadow: 1px 3px 5px cadetblue;
}

.actions{
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:#5eaaa8; 
  }
  
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:#5eaaa8;
    background-color:#5eaaa8;
  }
  
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
      background-color:rgb(255, 37, 37,.26);
  }